<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{if hasmath}} {{insert head_katex.html }}     {{end}}
  {{if hascode}} {{insert head_highlight.html }}   {{end}}
  <link rel="stylesheet" href="/css/franklin.css">
  <link rel="stylesheet" href="/css/custom.css">
  <link rel="stylesheet" href="/css/poole_hyde.css">
  <link rel="icon" type="img/png" href="/assets/robot.png" style="position:relative;left:45px; height: auto; display: inline">
  {{insert style.html}}
  {{isdef title}} <title>{{fill title}}</title>  {{end}}
</head>
<body>
{{insert sidebar.html}}
<!-- Content appended here -->

